/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 Nov, 2015, 4:41:52 PM
    Author     : ark-05
*/

label{
    font-weight: 400 !important;
}

.has-error .bootstrap-select .dropdown-toggle, .error .bootstrap-select .dropdown-toggle{
    border-color: #e2e0e0 !important;
}